/*
 ====
 Global elements
 ====
*/
body{
  width: 100%;
  height: 100vh;
}

/*
 ====
 App
 ====
*/
.app {
  margin: auto;
  max-width: 600px;
  width: 100%;
}

/*
====
Button
====
*/
.button{
  display: block;
  width: 100%;
  max-width: 300px;
  line-height: 1.2;
  font-size: 1em;
  border-radius: 5px;
  background: transparent;
  border: 2px solid #444;
  color: #444;
  text-align: center;
  margin: 10px auto;
  text-decoration: none;
  transition: 0.25s all ease-in-out;
  padding: 15px 0;
  cursor: pointer;

  &:hover,
  &.active{
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    background: #444;
  }
  &:active,
  &:focus{
    text-decoration: none;
    color: #444;
  }
}
.button.tool {
    display: inline-block;
    font-size: 0.8em;
    max-width: 100px;
    text-transform: uppercase;
    &:hover,
    &.active{
      text-decoration: none;
      color: #fff;
      border: 2px solid #fff;
      background: #444;
    }
}

/*
 ====
 Nav
 ====
*/
nav {
  height: 50px;
  margin: 0 0 10px;
  position: fixed;
  width: 100%;
  z-index: 9;
  span {
    display: inline-block;
    float: right;
    margin: 5px 10px 0 0;
    i.fa {
      color: #444;
      cursor: pointer;
      font-size: 40px;
    }
  }

}

/*
 ====
 Top Menu
 ====
*/
.menu {
  background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  .close-menu {
    color: #fff;
    cursor: pointer;
    display: block;
    margin: 40px 0;
    text-align: center;
    i {
      font-size: 40px;
    }
  }
  .main-menu {
    float: left;
    height: 50%;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    li{
      i{
        color: #fff;
        display: inline-block;
        font-size: 2em;
        line-height: 1;
      }
      a{
        color: #fff;
        font-size: 2em;
        letter-spacing: 2px;
        margin: 0 10px;
        text-align: left;
      }
    }
  }
}
/*
 ====
 Inner Menu
 ====
*/
.inner-menu-collapsed{
  background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 999;
  cursor: pointer;
}
/*
 ====
 Menu Backs, Frames
 ====
*/
.backs, .frames {
  background: rgba(155, 105, 105, 0.4) none repeat scroll 0 0;
  height: 100vh;
  right: -40%;
  position: fixed;
  top: 0;
  z-index: 99;
  width: 40%;
  .close-menu {
    color: #fff;
    cursor: pointer;
    display: block;
    margin: 40px 0;
    text-align: center;
    i {
      font-size: 40px;
    }
  }
  .backs-scroll, .frames-scroll {
    display: block;
    height: calc(100% - 120px);
    overflow-y: scroll;
    width: 100%;
    .back, .frame {
      display: table;
      margin: 0 0 20px;
      width: 100%;
      img {
        display: block;
        margin: auto;
        width: 80%;
        cursor: pointer;
      }
    }
  }
}

/*
 ====
 Toolbar
 ====
*/
.tool-bar-images {
  margin: auto;
  max-width: 600px;
  width: 100%;
}

/*
 ====
 Containers
 ====
*/

/* === IMG Container === */
.img-preview-container {
  display: table;
  height: 100%;
  margin: auto;
  max-width: 600px;
  position: relative;
  width: 100%;

  .img-back, .img-frame {
    height: 100%;
    left: 0;
    max-height: 450px;
    max-width: 600px;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .img-back{
    z-index: -90;
  }
  .img-frame{
    z-index: 90;
  }

}
